*.[oa]
*.asp
*.bsc
*.db
*.iobj
*.ipdb
*.ncb
*.opendb
*.opensdf
*.pch
*.sdf
*.suo
*.swp
*.un~
*.user
*.vcproj
*~
.backups
/examples/.backups
/examples/bin32
/examples/bin32/*.exe
/examples/bin32/*.out
/examples/bin32/AntTweakBar.dll
/examples/bin64/*.exe
/examples/bin64/*.out
/examples/bin64/AntTweakBar64.dll
/examples/debug32
/examples/debug64
/examples/sfinktah/.backups
/examples/sfinktah/osr
/examples/tmp
/src/debug32
/src/debug64
/src/ipch
/src/release32
/src/release64
/tags
lib/*.dll
lib/*.exp
lib/*.lib
lib/*.so
lib/*.so.*
lib/debug
